ul li button {
  background:none;
  color: #42b0f4;
  border:none;
  padding:0;
  font: inherit;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
  color: #42b0f4;
}

.error {
  color: #FF0000;
}

textarea {
  height: 75px;
  width: 600px;
}
